@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue& display=swap');

@font-face {
    font-family: 'Android';
    src: url(/fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

:root {
    --cor0:#000085;
    --cor1:#0D11FC;
    --cor2:#1f43c5;
    --cor3:#196FF0;
    --cor4:#98cbec;
    --cor5:#0CC6Fa;

    --font-destaque: 'Bebas Neue', cursive;
    --font-padrao: Arial, Helvetica, sans-serif;
    --font-android: 'Android', 'cursive';
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EBE5C5;
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor0));
    min-height: 160px;
    text-align: center;
    padding-top: 40px;
}

header h1 {
    color: white;
    font-family: var(--font-destaque);
    font-weight: normal;
    font-size: 3em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.575);
    padding: 0px 0px 10px;
}

header > p {
    display: block;
    color: white;
    font-family: var(--font-padrao);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.575);
    font-size: 1.2em;
    max-width: 600px;
    padding: 10px 10px 50px 10px;
    margin: auto;
}

nav {
    background-color: var(--cor0);
    padding: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.452);
}

nav > a {
    color: white;
    font-family: var(--font-padrao);
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    padding: 10px;
}

nav > a:hover {
    background-color: var(--cor5);
    color: var(--cor0);
    border-radius: 5px;
    transition-duration: .5s;
}

main {
    display: block;
    background-color: white;
    max-width: 1000px;
    min-width: 300px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 2px 3px 3px rgba(0, 0, 0, 0.301);
}

main h1 {
    font-family: var(--font-android);
    font-weight: lighter;
    font-size: 1.8em;
    color: var(--cor0);
}

main h2 {
    background-image: linear-gradient(to right, var(--cor4), transparent);
    font-family: var(--font-android);
    font-weight: lighter;
    font-size: 1.3em;
    text-indent: 10px;
    color: var(--cor1);
}

main p {
    font-family: var(--font-padrao);
    line-height: 2em;
    margin: 15px 0px;
    text-indent: 3.5%;
    text-align: justify;
}

main strong {
    color: var(--cor0);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor0);
    padding: 4px;
}

main a:hover {
    background-color: var(--cor5);
    border-radius: 3px;
    transition-duration: 1s;
}

main img {
    width: 100%;
}

main img.pequena {
    display: block;
    margin: auto;
    max-width: 400px;
}

div.video {
    background-color: var(--cor0);
    margin: 0px 20px 30px 20px;
    height: 80px;
    padding: 20px;
    padding-bottom: 40%;
    border-radius: 20px 0px;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 85%;
    height: 90%;
}

a.externo::after {
    content:'\00A0\1F517';
}

aside {
    background-color: var(--cor4);
    padding: 10px;
    border-radius: 8px;
}

aside > h3 {
    font-family: var(--font-padrao);
    background-color: var(--cor1);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714';
    list-style-position: inside;
    columns: 2;
}

aside li {
    font-family: var(--font-padrao);
    font-size: 17px;
    font-weight: normal;
}

footer {
    background-color: var(--cor0);
    text-align: center;
    color: white;
    font-size: 0.8em;
    padding: 3px;
    font-family: var(--font-padrao);
}